# Introduktion till Python

Välkommen till den här kursen i Python, mer specifikt Python3!

I kursen kommer vi använda Visual Studio Code (VS Code) som utvecklingsmiljö (IDE). Instruktioner för installationen har getts separat.

### Python notebooks
Materialet är till stor del uppbyggt i så kallade notebooks (du läser i en notebook just nu!). I en notebook kan vi dels skriva och formattera text (markdown), dels skriva och köra Python-kod interaktivt. Kod i en notebook körs i den ordning du kör cellerna, vilket ger stora möjligheter att experimentera fram och tillbaka. Det kan dock få oväntade konsekvenser om man kör en cell i "fel" ordning och råkar ändra ett objekt på ett oväntat sätt...

### Tips
- För att köra kod i en cell, tryck shift + enter (markören flyttar sig då till nästa cell). 
- Google är din vän, typ alla problem går att lösa genom en bra sökning.
- För att få mer information om ett objekt, använd funktionen help([objektet])
- Python indexerar från **noll**

### Kännetecken

Lätt att läsa och skriva kod, långsamt på att exekvera. Kompileras ej utan evalueras/utvärderas vid körning (runtime).

Det finns en rik flora av paket som utökar Pythons funktionalitet.


###

### Objekttyper

Vi börjar med att kolla på det mest grundläggande, objekt och objekttyper. I Python behöver vi inte deklarera någon objekttyp som i många andra språk. Istället är Python ett **dynamiskt typat** språk, där ett objekts typ beror på dess tilldelade värde när vi kör koden. Python är också ett **starkt typat** språk, vilket betyder att alla variabler och objekt har en typ och att typen spelar roll när man utför operationer på dem.

Testa att köra cellerna nedan (shift + enter) och se om resultatet överensstämmer med det du förväntar dig!

In [1]:
a_string = "en sträng"
print(a_string)
type(a_string)

en sträng

str

In [3]:
an_int = 42
type(an_int)

int

In [8]:
a_float = 42.0
type(a_float)

float

Python är som sagt starkt typat, så alla objekttyper är inte kompatibla. Jämför de två fallen nedan (Obs! I första fallet får vi ett TypeError - läs felmeddelandet för mer information).

In [9]:
"sträng" + 123

TypeError: can only concatenate str (not "int") to str

In [37]:
10+123.15

133.15

Python är också dynamiskt typat, se vad som händer med variabeln a nedan.

In [36]:
a = "sträng"
print(type(a))
a = 999
print(type(a))

<class 'str'>
<class 'int'>

Obs! Det är objeket "sträng" eller 999 som har typen, variabeln a är bara en etikett.

In [15]:
b = "en sträng " + "kan kombineras med " + "en annan sträng"
b

'en sträng kan kombineras med en annan sträng'

In [40]:
# Psst! Hej, jag är en kommentar!
#
# Använd ett inledande # om du vill skapa nya kommentar-kompisar till mig för att beskriva din kod.
# Tips: Du kan kommentera eller avkommentera ett helt kodblock genom att markera det och trycka
# Ctrl + ' (på ett svenskt tangentbord). Testa gärna här!

### Andra objekttyper
Nu har vi sett några objekttyper: str, int och float. Det finns några andra inbyggda typer som  du säkert känner igen från andra språk, men kanske också några nyheter. Vi går igenom några av de vanligaste här, men vill du veta mer finns det självklart [dokumentation om objekttyper](https://docs.python.org/3/library/stdtypes.html).

Vi börjar med de fyra olika typerna för samlingar av objekt (*collections*). Det finns ***listor*** som anges med [hak-klamrar], elementen separeras med komma. Listor kan innehålla olika typer av objekt.

In [33]:
list = [1,2,"tre"]
list

[1, 2, 'tre']

Listor är inte vektorer i en matematisk mening, men vi kan med paket utöka funktionaliteten till vektor- och matrisberäkningar - mer om det senare. Just nu får vi nöja oss med att när vi multiplicerar listor så upprepas listans innehåll.

In [34]:
list*3

[1, 2, 'tre', 1, 2, 'tre', 1, 2, 'tre']

Vi kan skapa listor av listor:

In [41]:
[list]*3

[[1, 2, 'tre'], [1, 2, 'tre'], [1, 2, 'tre']]

Vi kan hämta ett specifikt objekt från listan genom att använda dess index (kom ihåg att vi börjar räkna index från 0):

In [42]:
list[2]

'tre'

Vi kan också slicea (slajsa?) ut flera värden.

In [45]:
list[0:2]

[1, 2]

Vänta, **vad hände här**? Objektet med index två är ju det tredje objektet, men det får vi inte med i vår slice? Python inkluderar det lägre indexet, men exkluderar det övre. För att få med alla tre objekt i listan skulle vi istället kunna skriva list[0:3].

***Tupler*** betecknas med (runda) parenteser och är speciella på det sättet att de är ordnade (och ordningen ändras inte) och oföränderliga. De kan innehålla olika datatyper och tillåter upprepningar.

In [64]:
tuple = (1,2,"Tre", "Tre")
tuple

(1, 2, 'Tre', 'Tre')

In [68]:
tuple[1:3]

(2, 'Tre')

TypeError: 'tuple' object does not support item assignment

### Logiska operatorer
Jämförelser görs med ett typiskt syntax: >, <, ==, >=, <=, !=, men även *is* och *is not*.

In [9]:
print(1 == 2 )
print(1 >= 2 )
print(1 <= 2 )
print(1 != 2 )

False
False
True
True

Med *is* testar vi om två variabler pekar på samma objekt i minnet. Testa att ändra a eller b till ett annat värde och se vad som händer!

In [32]:
a = 100
b = 100

a is b

True

Det finns också booleska operatorer: *or*, *and* och *not*

In [25]:
print(1 in [1,2,3])
print(4 not in [1,2,3] and 2 in [1,2,3])
print(2 > 1 or 3 in [1,2,3])

True
True
True

True